/*  your css code here. If applicable */
/* 
*{
	padding:0;
	margin:0;
}

.book-library{
	width:400px;
	padding:10px;
	background-color:#ffffff;
	box-shadow: 5px 10px 5px rgb(0,0,0,0.5);
}

.book-image{
	width:130px;
	margin:12px;
}

.book-name{
	font-size:13px;
	font-weight:bold;
}

.author{
	color:#777777;
}

.price{
	background-color:rgb(46, 204, 113);
	color:white;
	text-align:center;
	font-size:13px;
	padding:4px;
	font-weight:bold;
} */